{% extends 'base.html' %}
{% block content %}

<h1>Art <span class="grey-text text-darken-1">List</span></h1>
<p></p>
<!-- <div class="row"> -->
    <div class="card-grid">
        {% for art in object_list %}
        <div class="cards" >
            <a href="{% url 'arts_detail' art.id %}">
                <div class="image-wrapper">
                    <img src="{{ art.image }}" alt="{{ art.title }}">
                    <div class="overlay">
                        <span class="card-title">{{ art.title }}</span>
                    </div>
                </div>
            </a>
            <div class="card-content">
                <div class="likes">
                    <span class="material-symbols-outlined right">
                        favorite
                    </span>
                    {{ art.like }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}