{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s6">
        <!-- Image on top left -->
        <img src="{{ art.image }}" alt="{{ art.title }}" class="art-image" width="100%" height="auto">
    </div>
    <div class="col s6">
        <!-- Art title as header on top right -->
        <h1 class="art-title">{{ art.title }}</h1>
        <div class="card">
            <div class="card-content">
                <p> <strong>Artist:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                <p>Description: {{ art.description|linebreaks }}</p>
                <hr>
                <p>Date Created: {{ art.date }}</p>
                <p>Valuation: ${{ art.price }}</p>
                <p>Style:
                    {% for style in art.style.all %}
                    {{ style.get_name_display }}
                    {% endfor %}
                </p>
                <p>Medium: {{ art.medium }}</p>
                <p>Likes: {{ art.like }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'increment_likes' art.id %}">
                    <span class="material-symbols-outlined">heart_plus</span>
                </a>
                <a href="{% url 'arts_update' art.id %}">
                    <span class="material-symbols-outlined">edit</span>
                </a>
                <a href="{% url 'arts_delete' art.id %}">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Add Comment -->
{% if user.is_authenticated %}
    <h2>New Comment</h2>
    <form action="{% url 'comments_create' art.pk %}" method="POST">
        {% csrf_token %}
        <textarea name="comment" cols="40" rows="5" required></textarea>
        <button type="submit">Post Comment</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to post comments.</p>
{% endif %}

<!-- Read Comment(s) -->
<div>
    <h3>Comments</h3>
    {% for comment in art.comment_set.all %}
        <div class="comment-container" style="display: flex; align-items: center; margin-bottom: 10px;">
            <div class="comment-avatar" style="flex-shrink: 0;">
                <img src="{{ comment.user.profile.profile_pic }}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%;">
            </div>
            <div class="comment-content" style="flex-grow: 1; margin-left: 20px;">
                <p><strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong></p>
                <p>{{ comment.comment }}</p>
                <p>{{ comment.date }}</p>
            </div>
            <!-- Comment Actions: Update, Delete  -->
            <div class="comment-actions">
                <a href="{% url 'comments_update' comment.pk %}">
                    <span class="material-symbols-outlined">edit</span>
                </a>
                <a href="{% url 'comments_delete' comment.pk %}">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </div>
        </div>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}
</div>

{% endblock %}

