{% extends 'base.html' %}
{% block content %}

<h1>Art Detail</h1>

<div class="row">
    <div class="col s6 col-offset-3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ art.title }}</span>
                <p> by {{ user.first_name }} {{ user.last_name }}</p>
                <p><img src="{{ art.image }}" alt="{{ art.title }}" width="60%" height="auto">
                <p>Description: {{ art.description|linebreaks }}</p>
                <hr>
                <p>Date Created: {{ art.date }}</p>
                <p>Valuation: ${{ art.price }}</p>
                <p>Style:
                    {% for style in art.style.all %}
                    {{ style.get_name_display }}
                </p>
                {% endfor %}
                <p>Medium: {{ art.medium }}</p>
                <p>Likes: {{ art.like }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'increment_likes' art.id %}">
                    <span class="material-symbols-outlined">heart_plus</span>
                </a>
                <a href="{% url 'arts_update' art.id %}">
                    <span class="material-symbols-outlined">edit</span>
                </a>
                <a href="{% url 'arts_delete' art.id %}">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Add Comment -->
{% if user.is_authenticated %}
    <h2>New Comment:</h2>
    <form action="{% url 'comments_create' art.pk %}" method="POST">
        {% csrf_token %}
        <textarea name="comment" cols="40" rows="5" required></textarea>
        <button type="submit">Post Comment</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to post comments.</p>
{% endif %}

<!-- Read Comment(s) -->
<div>
    <h3>Comments</h3>
    {% for comment in art.comment_set.all %}

        <p><img src="{{ comment.user.profile.profile_pic }}" alt="Profile Picture" width="5%" height="auto"></p>
        <p>{{ comment.comment }}</p>
        <p>{{ comment.user }} - {{ comment.date }}</p>
    <!-- Comment Actions: Update, Delete  -->
        <a href="{% url 'comments_update' comment.pk %}">
            <span class="material-symbols-outlined">edit</span>
        </a>
        <a href="{% url 'comments_delete' comment.pk %}">
            <span class="material-symbols-outlined">delete</span>
        </a>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}
</div>


{% endblock %}