  <!-- Gueri's alt route -->

            <!-- <h2>Add a new comment</h2>
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Add comment</button>
            </form>

            <h3>Comments</h3>
            {% for comment in object_list %}
              <p>{{ comment.user.username }} - {{ comment.created_date }} - {{ comment.comment }}</p>
            {% empty %}
              <p>No comments yet.</p>
            {% endfor %} -->

            <!-- Ganesh alt route -->

            <!-- {% if user.is_authenticated %}
            <h2>Write a comment:</h2>
            <form action="{% url 'comments_create' art.id %}" method="post">
                {% csrf_token %}
                <textarea name="comment" cols="40" rows="5" required></textarea>
                <button type="submit">Post Comment</button>
            </form>
            {% else %}
            <p><a href="{% url 'login' %}">Log in</a> to post comments.</p>
            {% endif %}

            <h2>Comments:</h2>
            {% for comment in art.comment_set.all %}
            <p><strong>{{ comment.user.username }}</strong> ({{ comment.date }}): {{ comment.comment }}</p>
            {% empty %}
            <p>No comments yet.</p>
            {% endfor %} -->


            <!-- Paul's alt route -->
            <!-- <h2>Add a new comment</h2>
            <form method="POST" action="{% url 'comments_create' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add comment</button>
            </form> -->

