{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card white white-opacity">
            <div class="card-content">
                <h1>Delete your <span class="teal-text">comment</span>?</h1>
                <h5>You will permanently delete you comment from {{ object.art.title }}:</h5>
                <h5>{{ object.comment }}</h5>
                <!-- Cancel and Confirm buttons -->
                <br>
                <div class="row">
                    <div class="right-align">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <a href="{% url 'arts_detail' object.art.id %}" class="btn waves-effect waves-light amber">
                                <i class="material-icons left">cancel</i>
                                Cancel
                            </a>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">
                                Delete Forever
                                <i class="material-icons left">delete</i>
                            </button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

