{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col s12">
        <div class="card white white-opacity">
            <div class="card-content">
                <h1>Update your <span class="grey-text text-darken-1">Comment</span></h1>
                <h5>Be cool! Post encouraging comments, feedback, or appreciation!</h5>
                <form method="post" action="{% url 'comments_update' pk=comment.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="center-align">
                        <br>
                        <div class="row">
                            <div class="right-align">
                                <a href="{% url 'arts_detail' comment.art.id %}" class="btn waves-effect waves-light grey">
                                    <i class="material-icons left">cancel</i>
                                    Cancel
                                </a>
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Update
                                    <i class="material-icons left">add_circle</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>


{% endblock %}