{% extends 'base.html' %}
{% block content %}


<h1>Hold up!</h1>
<h5>Are you sure you want to delete your comment?
<h5><span class="teal-text">{{ object.comment }}</span></h5>

<div class="center-align">
    <form action="" method="POST">
        {% csrf_token %}
        <br>
        <button class="btn waves-effect waves-light red" type="submit" name="action">
            Delete Forever
            <i class="material-icons right">delete</i>
        </button>
        <a href="{% url 'arts_detail' object.art.id %}" class="btn waves-effect waves-light amber">
            <i class="material-icons right">cancel</i>
            Cancel
        </a>
    </form>
</div>


{% endblock %}