{% extends 'base.html' %}
{% block content %}

<h1>Medium: {{ medium.get_name_display }}</h1>

<div class="card-grid">
    {% for art in artworks %}
    <div class="cards">
        <a href="{% url 'arts_detail' art.id %}">
            <div class="image-wrapper">
                <img src="{{ art.image }}" alt="{{ art.title }}">
                <div class="overlay">
                    <span class="card-title">{{ art.title }}</span>
                </div>
            </div>
        </a>
        <div class="card-content">
            <p class="art-description">{{ art.description|truncatechars:100 }}</p>
            <div class="likes">
                <span class="material-symbols-outlined right">
                    favorite
                </span>
                {{ art.like }}
            </div>
        </div>
    </div>
    {% empty %}
    <p>No artworks found under this medium.</p>
    {% endfor %}
</div>

{% endblock %}
