{% extends 'base.html' %}
{% block content %}

<h1>Style: {{ style.get_name_display }}</h1>

<div class="card-grid">
    {% for art in artworks %}
    <div class="cards">
        <a href="{% url 'arts_detail' art.id %}">
            <div class="image-wrapper">
                <img src="{{ art.image }}" alt="{{ art.title }}">
                <div class="overlay">
                    <span class="card-title">{{ art.title }}</span>
                </div>
            </div>
        </a>
        <div class="card-content">
            <div class="likes"><span style="font-weight: bold;">Likes:</span> {{ art.like }}
            </div>
            <p><span style="font-weight: bold;">Title:</span> {{ art.description|truncatechars:100 }}</p>
        </div>
    </div>
    {% empty %}
    <p>No artworks found under this style.</p>
    {% endfor %}
</div>

{% endblock %}
