{% extends 'base.html' %}
{% block content %}

<h1>Style <span class="style-name">{{ style.get_name_display }}</span></h1>


<div class="card-grid">
    {% for art in artworks %}
    <div class="cards">
        <a href="{% url 'arts_detail' art.id %}">
            <div class="image-wrapper">
                <img src="{{ art.image }}" alt="{{ art.title }}">
                <div class="overlay">
                    <span class="card-title">{{ art.title }}</span>
                </div>
            </div>
        </a>
        <div class="card-content">
            <div class="likes"><i class="material-icons">favorite_border</i> {{ art.like }}
            </div>
            <!-- <p>{{ art.description|truncatechars:100 }}</p> -->
        </div>
    </div>
    {% empty %}
    <p>No artworks found under this style.</p>
    {% endfor %}
</div>

{% endblock %}
