{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <h1 class="h1">The world's best art community</h1>
            <h6 class="p">We are more than a digital art gallery - we are the world's best community for artists of all skill levels to share, discover, and engage</h6>    

            <br>
            <h4 class="h4">👩‍🎨👨‍🎨👨‍🎨 Get to know us</h4>
            <p class="p"> At the heart (and the code!) of Page Two is a collective of programmers united by their shared passion for art and technology.</p>
            <p class="p">This project is brought to you by Guerizim Leon, Ganesh Shrestha, and Paul Corpuz developed using Python, Django, and PostgreSQL  featuring Django Authentication and Materialize CSS.</p>

            <br>
            <h4 class="h4">Join the community</h4>
            <p>Whether you're here to showcase your latest masterpiece, connect with fellow artists, or simply find inspiration, we invite you to join us on our creative journey.</p>
            <br>
            <h6 class="p"> See you on Page Two!</h6> 
        </div>
    </div>
</div>
{% endblock %}