{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <h1 class="h1">The world's best art <span class="grey-text text-darken-1">community</span></h1>
            <h6 class="p">We are more than a digital art gallery - we are the world's best community for artists of all skill levels to share, discover, and engage</h6>    

            <br>
            <h4 class="h4">Get to know us 👩🏻‍🎨👨🏽‍🎨👨🏽‍🎨 </h4>
            <p class="p"> At the heart (and the code!) of Page Two is a collective of programmers united by their shared passion for art and technology.</p>
            <p class="p">This project is brought to you by Paul Corpuz, Guerizim Leon, and Ganesh Shrestha developed using Python, Django, and PostgreSQL  featuring Django Authentication and Materialize CSS.</p>
            <br>
            <div class="col s12 center-align">
                <a href="https://www.linkedin.com/in/paul-corpuz/">
                    <img src="../static/images/LIPaul.png" alt="LI Paul">
                </a>
                <a href="https://www.linkedin.com/in/gueri-leon/">
                    <img src="../static/images/LIGueri.png" alt="LI Gueri">
                </a>
                <a href="https://www.linkedin.com/in/ganeshrestha/">
                    <img src="../static/images/LIGanesh.png" alt="LI Ganesh">
                </a>
                <a href="https://github.com/paulcorpuz/">
                    <img src="../static/images/GHPaul.png" alt="GH Paul">
                </a>
                <a href="https://github.com/leon988">
                    <img src="../static/images/GHGueri.png" alt="GH Gueri">
                </a>
                <a href="https://github.com/ganeshrestha97">
                    <img src="../static/images/GHGanesh.png" alt="GH Ganesh">
                </a>
            </div>
            <br>

            <h4 class="h4">Join the community</h4>
            <p>Whether you're here to showcase your latest masterpiece, connect with fellow artists, or simply find inspiration, we invite you to join us on our creative journey.</p>
            <br>
            <h6 class="p"> See you on Page Two!</h6> 
        </div>
    </div>
</div>
{% endblock %}