{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PG²</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- our beautiful css attempt -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;PG²</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'index' %}">View All Art</a></li>
                    <li><a href="{% url 'about' %}">About PG²</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'arts_create' %}">Add Art</a></li>
                        <li><a href="{% url 'styles_index' %}">View All Styles</a></li>
                        <li><a href="{% url 'mediums_index' %}">View All Mediums</a></li>
                        <li><a href="{% url 'profile_detail' %}">View Profile</a></li>
                        <li><a href="{% url 'profile_update' %}">Edit Profile</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="POST">
                                {%csrf_token%}
                                <button type="submit" class="btn">Log Out</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2024 &nbsp;</div>
    </footer>
</body>

</html>