{% extends 'base.html' %}
{% block content %}

<div class="profile-detail">
    <!-- Profile Image -->
    <div class="col s6 profile-image">
        <img src="{{ user.profile.profile_pic }}" alt="Profile of {{ user.username }}">
    </div>

    <!-- Bio and Details -->
    <div class="col s6 bio-details">
        <h1><strong>{{ user.first_name }} {{ user.last_name }}</strong>
            <a href="{% url 'profile_update' %}"><i class="material-icons">create</i></a></h1> 
        <p><span class="bold-text">Username:</span> {{ user.username }}</p>
        <p><span class="bold-text">Location:</span> {{ user.profile.location }}</p>
        <p><span class="bold-text">Bio:</span> {{ user.profile.bio }}</p>
    </div>
</div> 

<h1 style="text-align:center;">My Art</h1>
<hr>

<!-- Art Works Gallery -->
<div class="card-grid">
    {% for art in user.art_set.all %}
        <div class="cards">
            <a href="{% url 'arts_detail' art.id %}">
                <div class="image-wrapper">
                    <img src="{{ art.image }}" alt="{{ art.title }}">
                    <div class="overlay">
                        <span class="card-title">{{ art.title }}</span>
                    </div>
                </div>
            </a>
            <div class="card-content">
                <div class="likes">
                    <span class="material-symbols-outlined right">
                        favorite
                    </span>
                    {{ art.like }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
